{% extends 'base.html' %}
{% load static %}{% block title %}User-Dashboard{% endblock %}
{% block content %}
    <body>
      <style >
.snip1543 {
    /* background-color: #fff; */
    /* color: #ffffff; */
    /* display: inline-block; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 16px;
    /* border-radius: 5px; */
    margin: 10px 5px;
    max-width: 415px;
    max-height: 240px;
    /* min-width: 230px; */
    /* overflow: hidden; */
    /* position: relative; */
    text-align: left;
    /* -webkit-transform: translateZ(0); */
    /* transform: translateZ(0); */
}
.uk-width-expand.pl-2 {
    padding-left: 5px !important;
}
a.trail {
    position: relative !important;
}
.course-card.episode-card.animate-this {
    box-shadow : -10px 10px 14px -5px rgb(25 42 70 / 13%)
}
.uk-grid {
    margin-left: 0px;
}
.uk-grid > * {
    padding-left: 0px!important;
}
.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  max-height:100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  right: 0;
  content: '';
  background-color: #fdcf00;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(0deg) translateX(-100%);
  transform: skew(0deg) translateX(-100%);
}

.snip1543:after {
  -webkit-transform: skew(0deg) translateX(-100%);
  transform: skew(0deg) translateX(-100%);
}

.snip1543 figcaption {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    /* top: 50%; */
    bottom: 0px;
    left: -20px;
    right: 0px;
    z-index: 1;
    /* bottom: 0; */
    padding: 25px 2% 25px 50px;
}


.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: -10px;
    bottom: -25px;
    left: -3px;
    right: -5px;
  background-color: #050e46;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(0deg) translateX(-100%);
  transform: skew(0deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(0deg) translateX(-100%);
  transform: skew(0deg) translateX(-100%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'gotham-rounded';
  font-weight: 700;
  line-height: 1em;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(0deg) translateX(0%);
  transform: skew(0deg) translateX(0%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(0deg) translateX(0%);
  transform: skew(0deg) translateX(0%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(0deg) translateX(0%);
  transform: skew(0deg) translateX(0%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(0deg) translateX(0%);
  transform: skew(0deg) translateX(0%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figcaption.courses {
    align-items: center;
    position: absolute;
    /* top: 0%; */
    display: flex;
    padding-top: 60px;
}
/* Demo purposes only */




        .i1{
          background:#d7f0fd;
          border-radius:5px;
          padding:10px;
          /* padding-bottom:5px; */
          width:55px;
          color: #0FA6DF;
        }

        .i2{
          background:#ffd6d6;
          border-radius:5px;
          padding:10px;
          /* padding-bottom:5px; */
          width:55px;
          color: #DF420F;
        }

        .i3{
          background:#fff6d6;
          border-radius:5px;
          padding:10px;
          /* padding-bottom:5px; */
          width:55px;
          color: #FDB61F;
        }

        .i4{
          background:#9ED2EB;
          border-radius:5px;
          padding:10px;
          /* padding-bottom:5px; */
          width:55px;
          color: #0D478C;
        }


        .i1-down{
          /* background:#6df0ff; */
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #0FA6DF;
        }

        .i2-down{
          /* background:#F1A6C8; */
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #DF420F;
        }

        .i3-down{
          /* background:#F4E98E; */
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #FDB61F;
        }

        .i4-down{
          /* background:#9ED2EB; */
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #0D478C;
        }


        .i1-down:hover{
          background:#d7f0fd;
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #0FA6DF;
        }

        .i2-down:hover{
          background:#ffd6d6;
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #DF420F;
        }

        .i3-down:hover{
          background:#fff6d6;
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #FDB61F;
        }

        .i4-down:hover{
          background:#9ED2EB;
          border-radius:50px;
          padding:5px;
          /* width:55px; */
          color: #0D478C;
        }

        ul.uk-slideshow-items {
    min-height: 364px!important;
}

      </style>

<div id="wrapper">

    {% include 'userPartials/_header.html'%}

    <!-- overlay seach on mobile-->
    <div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-grey uk-light p-2" hidden
         style="z-index: 10000;">
        <div class="uk-navbar-item uk-width-expand" style="min-height: 60px;">
            <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
           href="#"></a>
    </div>


    <!-- side nav-->
    <div class="side-nav uk-animation-slide-left-medium">


        <div class="side-nav-bg"></div>

        <!-- logo -->
        <div class="logo uk-visible@s">
            <a href="{% url 'userdashboard' %}">
                <img src="{% static 'images/VES.png' %}">
            </a>
        </div>

        <ul>

          <li>
            <!-- My Dashboard -->
            <a href="{% url 'userdashboard' %}"> <i class="icon-material-outline-dashboard"></i> <span class="tooltips"> Dashboard</span></a>
        </li>
            <li>
                <!-- My Profile -->
                <a href="{% url 'userprofile' %}"> <i class="icon-brand-earlybirds"></i> <span class="tooltips"> My Profile</span></a>
            </li>
            <li>
                <!-- My courses -->
                <a href="{% url 'userdashboard' %}"> <i class="icon-material-outline-shopping-cart"></i> <span class="tooltips"> Store</span></a>
            </li>
           
            <li>
                <!-- Projects-->
                <a href="{% url 'user_blog_page' %}"> <i class="uil-blogger-alt"></i> <span class="tooltips">
                        Blogs</span></a>
            </li>

           

        </ul>
        <ul class="uk-position-bottom">
          <li>
              <!-- Lunch information box -->
              <a href="#">
                  <i class="uil-paint-tool"></i>
              </a>
              <div uk-drop="pos: right-bottom ;mode:click ; offset: 10;animation: uk-animation-slide-right-small">
                  <div class="uk-card-default rounded p-0">
                      <h5 class="mb-0 p-3 px-4  bg-light"> Night mode</h5>
                      <div class="p-3 px-4">
                          <p>Turns the light surfaces of the page dark, creating an experience ideal for night.
                          </p>
                          <div class="uk-flex">
                              <p class="uk-text-small text-muted">DARK THEME </p>
                              <!-- night mode button -->
                              <span href="#" id="night-mode" class="btn-night-mode">
                                  <label class="btn-night-mode-switch">
                                      <span class="uk-switch-button"></span>
                                  </label>
                              </span>
                          </div>

                      </div>
                  </div>
              </div>

          </li>
         
      </ul>
    </div>


    <div class="page-content">


      <div class="uk-grid p-1" uk-grid>
        <div class="uk-width-1-3 ">
          <div class=" ">
              <div class="uk-position-relative uk-visible-toggle uk-light  "
                   uk-slideshow="ratio: 6:5.15; autoplay: true autoplay-interval: 200" tabindex="-1"
                    >
                  <ul class="uk-slideshow-items " style="border-radius:5px; box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;">
                      {% for i in blogs %}
                          <li>
                              {% if i.blog_thumbnail %}
                                  <img src="{{ i.blog_thumbnail.url }}" alt="" uk-cover >
                              {% else %}
                                  <img src="" alt="" uk-cover>
                              {% endif %}
                              <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
                                  <h3 class="uk-margin-remove">{{ i.blog_title }}</h3>
                                  <p class="uk-margin-remove">{{ i.blog_tagline | truncatewords:12 }}</p>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                     uk-slidenav-previous uk-slideshow-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                     uk-slideshow-item="next"></a>
              </div>
          </div>

        </div>


        <div class="uk-width-expand pl-2">
          <div class=" ">
              <div class="uk-position-relative uk-visible-toggle uk-light  "
                   uk-slideshow="ratio: 6:2.44; autoplay: true autoplay-interval: 200" tabindex="-1"
                   >
                  <ul class="uk-slideshow-items " style="border-radius:5px;">
                      {% for i in blogs %}
                          <li>
                              {% if i.blog_thumbnail %}
                                  <img src="{{ i.blog_thumbnail.url }}" alt="" uk-cover >
                              {% else %}
                                  <img src="" alt="" uk-cover>
                              {% endif %}
                              <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
                                  <h3 class="uk-margin-remove">{{ i.blog_title }}</h3>
                                  <p class="uk-margin-remove">{{ i.blog_tagline | truncatewords:12 }}</p>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                     uk-slidenav-previous uk-slideshow-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                     uk-slideshow-item="next"></a>
              </div>
          </div>
        </div>

      </div>



            <div class=" mx-4 text-right my-1">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="uk-inline">
                        <style>
                            .plus {
                                border-radius: 50%;
                                -webkit-transition: -webkit-transform .4s ease-in-out;
                                transition: transform .4s ease-in-out;
                            }

                            .plus:hover {
                                -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                        </style>
                        <button type="button" class="plus btn btn-default btn-sm text-white p-2 "
                                uk-tooltip="title: Choose What to Display; pos: left"
                                style="border-radius: 50%; height:47px;" name="button"><h3 class="text-light"><i
                                class="uil uil-plus"></i></h3></button>


                        <div uk-dropdown="mode: click" class="pb-0 px-2" style="border-radius:10px;">

                            <div class="uk-margin text-left uk-child-width-auto">
                                {% for i in blog_cag %}
                                    <label><input class="uk-checkbox px-3 py-1 my-1 mx-2" type="checkbox"
                                                  name="d_blog" value="{{ i.blog_category }}">{{ i.blog_category }}
                                    </label>
                                {% endfor %}
                                <button type="submit" class="btn btn-default btn-sm ml-5 mt-2" name="button1">Done
                                </button>
                            </div>


                        </div>
                    </div>
                </form>

            </div>

                <div class="section-header my-4">
                    <div class="section-header-left">
                        <h1 class="text-center"><strong>Achieve Your Goals With VE Campus</strong></h1>
                    </div>
                </div>
           <div class="container my-4 ">
                  <div class="uk-card  uk-card uk-card-default uk-card-body " style="margin-left: 65px;
    position: relative;
    height: 300px;
    margin-bottom: 80px;
    border-radius: 5px;
    width: 90%;
    border-radius:10px;
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
background-blend-mode: soft-light, screen, darken, normal;
    " >


                <div class="uk-grid" uk-grid>

                    <div class="uk-width-1-2">
                      <h1 class="" style="color: white;">Virtual Experience Program</h1>
                      <h4 style="color: #FFFFFF;">Get trained in trending courses. Work on real time projects to get hand on experience</h4>
                    </div>

                    <div class="uk-width-expand">
                      <div>

                                <img src="{% static 'images/dashboard/Tile1.png'%}" alt="" style="object-fit: cover; height: 300px; right:50px; top:0px; position:absolute;">

                        </div>
                    </div>
                  </div>
                    <style >
                      .site-icon {
                          position: absolute;

                          transform: translateY(+18%);

                        }
                  
                    </style>

                    <div class="site-icon mx-auto" style="margin-left:36px;">
                      <div class="uk-card" uk-grid>

                       
                          <div class="course-card episode-card animate-this" style="width:292.5px; margin-right: 10px;">
                              <div class="course-card-thumbnail ">

                                <figure class="snip1543">
                                    <!--<img src="https://firebasestorage.googleapis.com/v0/b/mvax-master-4cdbe.appspot.com/o/ds.png?alt=media&token=44e8a4f9-d723-41b6-93b4-3e9d09d28d0e" alt="sample108" />
                                    -->
                                    {% if course.course_image %}
                                    <img src="{{ course.course_image.url }}"  style="width:367px; height: 190px;">
                                    {% else %}
                                    <img src="" alt="">
                                    {% endif %}
                                    
                                    <figcaption>
                                      <h3 style="color: #fff; padding-bottom: 20px;"><a style="color: #fff;" class="trail" href="{% url 'courseIntro' course.pk %}">Training &rarr;</a></h3>
                                      <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">Workplace &rarr;</a></h3>
                                    </figcaption>
                                    <a href="#"></a>
                                  </figure>

                              </div>
                              <div class="course-card-body">
                                  <h4 class="mb-0"> CFP-1 </h4>
                              </div>
                          </div>
                        

                       
                          <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                              <div class="course-card-thumbnail ">

                                <a href="#">
                                    <img src="{% static 'images/dashboard/bgcolorplus.png'%}" alt="sample108" />
                                    
                                    </a>
                                  
                              </div>
                              <div class="course-card-body">
                                  <h4 class="mb-0"> ADD CFP </h4>
                              </div>
                          </div>
                       
                       
                      </div>
                    </div>


                </div>
            </div>


            <div class="container mb-4 " style="margin-top:100px;">
                   <div class="uk-card  uk-card uk-card-default uk-card-body " style="margin-left: 65px;
     position: relative;
     height: 300px;
     margin-bottom: 80px;
     border-radius: 5px;
     width: 90%;
     border-radius:10px;
     background: linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), linear-gradient(236deg, #BAFF99 0%, #005E64 100%), linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
background-blend-mode: overlay, overlay, overlay, darken, normal;" >


                 <div class="uk-grid" uk-grid>

                     <div class="uk-width-1-2">
                       <h1 class="" style="color: #FFFFFF;">Micro Courses</h1>
                       <h4 style="color: #FFFFFF;">Reach 200XP and choose your favourite course categories. Chose your favourite and start learning.</h4>
                     </div>

                     <div class="uk-width-expand">
                       <div>

                             <div class="">
                                 <img src="{% static 'images/dashboard/microcourses.png'%}" alt="" style="object-fit: cover; height: 300px; right:50px; top:0px; position:absolute;">
                             </div>
                         </div>
                     </div>
                   </div>
                     <style >
                       .site-icon1 {
                           position: absolute;

                           transform: translateY(+15%);

                         }
                     </style>

                     <div class="site-icon1 mx-auto" style="margin-left:36px;">
                       <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
                           



                             <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                              <div class="course-card-thumbnail ">

                                <figure class="snip1543">
                                    <img src="{% static 'images/dashboard/BI.png'%}" alt="sample108" />
                                    <figcaption class="courses">
                                        <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">START &rarr;</a></h3>
                                      </figcaption>
                                    <a href="#"></a>
                                  </figure>
                              </div>
                              <div class="course-card-body">
                                  <h4 class="mb-0"> Business Development, sales, etc. </h4>
                              </div>
                          </div>

                         
                          <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                            <div class="course-card-thumbnail ">

                              <figure class="snip1543">
                                  <img src="{% static 'images/dashboard/PH.png'%}" alt="sample108" />
                                  <figcaption class="courses">
                                      <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">START &rarr;</a></h3>
                                    </figcaption>
                                  <a href="#"></a>
                                </figure>
                            </div>
                            <div class="course-card-body">
                                <h4 class="mb-0"> Photoshop, Github, Hosting, etc.  </h4>
                            </div>
                        </div>


                        <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                            <div class="course-card-thumbnail ">

                              <figure class="snip1543">
                                  <img src="{% static 'images/dashboard/KS.png'%}" alt="sample108" />
                                  <figcaption class="courses">
                                 <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">START &rarr;</a></h3>
                                    </figcaption>
                                  <a href="#"></a>
                                </figure>
                            </div>
                            <div class="course-card-body">
                                <h4 class="mb-0"> Personal Finance, Reasoning, quantitative Aptitude, etc. </h4>
                            </div>
                        </div>



                       </div>
                     </div>


                 </div>
             </div>







             <div class="container mb-4 " style="margin-top:100px;">
                    <div class="uk-card  uk-card uk-card-default uk-card-body " style="margin-left: 65px;
      position: relative;
      height: 300px;
      margin-bottom: 80px;
      border-radius: 5px;
      width: 90%;
      border-radius:10px;
      background: linear-gradient(110deg, #FFD9E8 4%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);" >


                  <div class="uk-grid" uk-grid>

                      <div class="uk-width-1-2">
                        <h1 class="">Hiring Program</h1>
                        <h4>Once reaching 700XP get listed on the placement portal through our placement campaign</h4>
                      </div>

                      <div class="uk-width-expand">
                        <div>

                                  <img src="{% static 'images/dashboard/Hiring.png'%}" alt="" style="object-fit: cover; height: 300px; right:50px; top:0px; position:absolute;">

                          </div>
                      </div>
                    </div>
                      <style >
                        .site-icon {
                            position: absolute;

                            transform: translateY(+20%);

                          }
                      </style>

                      <div class="site-icon mx-auto" style="margin-left:36px;">
                        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>



                         <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                            <div class="course-card-thumbnail ">

                              <figure class="snip1543">
                                  <img src="{% static 'images/dashboard/resume.png'%} " alt="sample108" />
                                  <figcaption class="courses">
                                 <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">GET &rarr;</a></h3>
                                    </figcaption>
                                  <a href="#"></a>
                                </figure>
                            </div>
                            <div class="course-card-body">
                                <h4 class="mb-0"> Resume </h4>
                            </div>
                        </div>


                        <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                            <div class="course-card-thumbnail ">

                              <img src="{% static 'images/dashboard/0hrs.png'%}" alt="sample108" />
                                 
                                  <a href="#"></a>
                            </div>
                            <div class="course-card-body">
                                <h4 class="mb-0"> Total Work Hours  </h4>
                            </div>
                        </div>


                        <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                            <div class="course-card-thumbnail ">

                              <figure class="snip1543">
                                  <img src="{% static 'images/dashboard/HPBG.png'%}" alt="sample108" />
                                  <figcaption class="courses">
                                 <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">DIVE IN!&rarr;</a></h3>
                                    </figcaption>
                                  <a href="#"></a>
                                </figure>
                            </div>
                            <div class="course-card-body">
                                <h4 class="mb-0"> Hiring Portal </h4>
                            </div>
                        </div>



                        </div>
                      </div>


                  </div>
              </div>


              <div class="container mb-4 " style="margin-top:100px;">
                     <div class="uk-card  uk-card uk-card-default uk-card-body" style="margin-left: 65px;
       position: relative;
       height: 300px;
       margin-bottom: 80px;
       border-radius: 5px;
       width: 90%;
       border-radius:10px;
       background: linear-gradient(60deg, #2B2E4A 0%, #2B2E4A 30%, #E84545 calc(30% + 1px), #E84545 60%, #903749 calc(60% + 1px), #903749 70%, #53354A calc(70% + 1px), #53354A 100%);" >


                   <div class="uk-grid" uk-grid>

                       <div class="uk-width-1-2">
                         <h1 class="" style="color: white;">Idea 2 Reality Program</h1>
                         <h4 style="color: white;">I2r will turn your idea to reality. Hop into the campus for prototyping and starting a startup</h4>
                       </div>

                       <div class="uk-width-expand">
                         <div>

                                   <img src="{% static 'images/dashboard/I2RP.png'%}" alt="" style="object-fit: cover; height: 300px; right:50px; top:0px; position:absolute;">

                           </div>
                       </div>
                     </div>
                       <style >
                         .site-icon3 {
                             position: absolute;

                             transform: translateY(+20%);

                           }
                       </style>

                       <div class="site-icon3 mx-auto" style="margin-left:36px;">
                         <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match " uk-grid>


                            <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                                <div class="course-card-thumbnail ">
    
                                  <figure class="snip1543">
                                      <img src="{% static 'images/dashboard/IDEA.png'%}" alt="sample108" />
                                      <figcaption class="courses">
                                     <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">DIVE IN &rarr;</a></h3>
                                        </figcaption>
                                      <a href="#"></a>
                                    </figure>
                                </div>
                                <div class="course-card-body">
                                    <h4 class="mb-0"> IDEATHON CONTEST </h4>
                                </div>
                            </div>


                            <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                                <div class="course-card-thumbnail ">
    
                                  <figure class="snip1543">
                                      <img src="{% static 'images/dashboard/submitidea.png'%}" alt="sample108" />
                                      <figcaption class="courses">
                                     <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">SUBMIT &rarr;</a></h3>
                                        </figcaption>
                                      <a href="#"></a>
                                    </figure>
                                </div>
                                <div class="course-card-body">
                                    <h4 class="mb-0"> SUBMIT IDEAS </h4>
                                </div>
                            </div>


                            <div class="course-card episode-card animate-this mx-2" style="width:292.5px;">
                                <div class="course-card-thumbnail ">
    
                                  <figure class="snip1543">
                                      <img src="{% static 'images/dashboard/viewidea.png'%}" alt="sample108" />
                                      <figcaption class="courses">
                                     <h3 style="color: #fff;"><a style="color: #fff;" class="trail" href="#">VIEW &rarr;</a></h3>
                                        </figcaption>
                                      <a href="#"></a>
                                    </figure>
                                </div>
                                <div class="course-card-body">
                                    <h4 class="mb-0"> MY IDEAS </h4>
                                </div>
                            </div>



                         </div>
                       </div>


                   </div>
               </div>







<br>
<br>
<br>
                <div class="container ">
            

                    <!-- footer
                   ================================================== -->
                    {% include 'partials/_footer.html' %}

                </div>
        </div>

    </div>


    <style>
        .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        .single-chart {
            width: 33%;
            justify-content: space-around;
        }

        .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
        }

        .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8;
        }

        .circle {
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }

        .circular-chart.orange .circle {
            stroke: #ff9f00;
        }

        .circular-chart.green .circle {
            stroke: #4CC790;
        }

        .circular-chart.blue .circle {
            stroke: #3c9ee5;
        }

        .percentage {
            fill: #666;
            font-family: sans-serif;
            font-size: 0.5em;
            text-anchor: middle;
        }
    </style>

    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

    </body>
{% endblock %}
