{% extends "quizz.html" %}

{% block content %}
    <!--Side Menu. Begins-->
    <ul class="sidenav sidenav-fixed nd-light-bg " style="width: 305px;">
        <li>
            <a class="subheader center-align"><u>Question Panel</u></a>
        </li>
        {% for question_id in questions %}
            {% with id=forloop.counter %}
                <li class="cursor">
                    <a class="tablinks {% if id == 1 %} active {% endif %} " onclick="question(event,{{ id }},'tab')" id="defaultOpen{{ id }}">
                        <div class="row mb-0">
                            <div class="col s6 left-align">Question {{ id }}</div>
                            <div class="col s6 ">
                                <span class="hide" id="isOptionChecked{{ question_id.id }}">
                                    <div class="indicator-spacing green-indicator"></div>
                                </span>
                                <span id="isOptionUnChecked{{ question_id.id }}">
                                    <div class="indicator-spacing gray-indicator"></div>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
    <!--Side Menu. Ends-->

    <!--Body Contents of the page. Begins-->
    <!--id="quiz-time-left"-->
    <div class="nd-85 pl-300">
        <div class="row p-2">
            <div class="p-1 mb-2">

                <div class="col s4 fs-1-3 ft-300 mb-1">
                    Indicators
                </div>
                <div class="col s4">
                    <div class="row mb-0">
                        <div class="col s11 right-align fs-1-3 ft-300">Answered</div>
                        <div class="col s1">
                            <div class="mt-06 green-indicator"></div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row mb-0">
                        <div class="col s11 right-align fs-1-3 ft-300">Yet to Answer</div>
                        <div class="col s1">
                            <div class="mt-06 gray-indicator"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12">
                <div class="nd-breadcrumb fs-1-3 ft-300 mb-2">
                    <div class="row mb-0">
                        <div class="col s6">
                            <span id="quiz-time-left"></span>
                        </div>
                        <div class="col s6 right-align">
                            <a class="btn-flat modal-trigger light-orange" href="#finishModal" id="finish" onclick="Myfunc()">Finish Test</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12">
                <!--<form action="/userlogin/userdashboard/userResult/" name="quiz" id="quiz" method="post"> -->
                    <form action="{% url 'userResult' w_id %}" name="quiz" id="quiz" method="post">
                    <input type="text" id="time" name="rough" readonly hidden>
                    {% csrf_token %}

                    {% for question in questions %}
                        {% with counter=forloop.counter %}
                            <div class="card tabcontent" id="{{ counter }}">
                                <div class="card-content pb-0">
                                    <span class="card-title">Q{{ counter }}. {{ question.question }}</span>
                                    {% if question.title_img %}

                                        <p><img src="{{ question.title_img.url }}" width="90%" height="10%"
                                                style="position: center"></p>

                                    {% endif %}
                                    <input type="hidden" name="inquiry" value="{{ question.id }}">
                                    <div class="row mt-2">
                                        {% if question.option_available %}
<!--                                            {#                            <img src="{{ question.img_option1.url }}" width="200px" height="200px" alt="caption"/>#}-->
                                            {% for key,value in question.option.items %}

                                                <div class="col s6  mb-1">
                                                    <div class="nd-breadcrumb">
                                                        <label>
                                                            {% if value == None %}
                                                            {% else %}
                                                                <h2>{{ value.url }}</h2>
                                                                <img src="/media/{{ value }}" onchange="isChecked({{ question.id }})" width="200px" height="200px"/>

                                                                <input name="{{ question.id }}" type="radio" value="{{ value }}" onchange="isChecked({{ question.id }})"/>
                                                                <span class="fs-1-3 ft-300"></span>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for key,value in question.option.items %}
                                                <div class="col s12  mb-1">
                                                    <div class="nd-breadcrumb">
                                                        <label>
                                                            {% if key == "E" %}
                                                                <img src="{{ value }}" width="200px" height="200px" alt="caption">
                                                            {% endif %}
                                                            {% if value == None %}
                                                            {% else %}

                                                                <input name="{{ question.id }}" type="radio" value="{{ value }}" onchange="isChecked({{ question.id }})"/>
                                                                <span class="fs-1-3 ft-300">{{ value }}</span>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="card-action">
                                    <div class="row mb-0">
                                        <div class="col s6">
                                            {% if counter == 1 %}
                                                <a class="btn-flat disabled" onclick="question(event,{{ counter }},'pre')">Previous</a>
                                            {% else %}
                                                <a class="btn-flat" onclick="question(event,{{ counter }},'pre')">Previous</a>
                                            {% endif %}
                                        </div>
                                        <div class="col s6 right-align">
                                            {% if counter == 20 %}
                                                <a class="btn-flat disabled" onclick="question(event,{{ counter }},'next')">Next</a>
                                            {% else %}
                                                <a class="btn-flat" onclick="question(event,{{ counter }},'next')">Next</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <!--Modal comes in when finish test is clicked. Begins-->
    <div class="modal" id="finishModal">
        <div class="modal-content">
            <h4 style="text-transform: uppercase;">Hey <span style="color: #6d801b;font-weight: bold">{{ user.username }}</span></h4>
            <p>You have time left,would you want to revise your answers again?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Revise</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="complete_test">Submit</a>
        </div>
    </div>
    <!--Modal comes in when finish test is clicked. Ends-->
    <!--Body Contents of the page. Ends-->

{% endblock %}