{% extends 'base.html' %}
{% load static %}
{% block title %}
CSM Page
{% endblock %}
{% block content %}
    <div id="wrapper" class="admin-panel">
        <!-- menu -->
        <div class="page-menu">
            <!-- btn close on small devices -->
            <span class="btn-menu-close" uk-toggle="target: #wrapper ; cls: mobile-active"></span>
            <!-- traiger btn -->
            <span class="btn-menu-trigger" uk-toggle="target: .page-menu ; cls: menu-large"></span>

            <!-- logo -->
            <div class="logo uk-visible@s">
                <a href="{% url 'csmdashboard' %}" class="logo">
                            <img src="{% static 'images/VES.png' %}" alt="">

                        </a>
            </div>
        </div>

        <!-- Header Container
        ================================================== -->
        {% include 'csm-tl-project_partials/_csm_header.html' %}

        <!-- content -->
        <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="#"> <i class="uil-home-alt"></i> </a></li>
                            <li><a href="#"> Online Course </a></li>
                        </ul>
                    </nav>
                </div>



              <div class="uk-card-default rounded" style="width: 95%">
                <div class=" py-2 px-4">
                    <h4 class="mb-0">Create Course</h4>
                </div>
                <hr class="m-0">
                  <form class="uk-width-expand uk-form-horizontal uk-grid-small p-4" method="POST"  uk-grid enctype="multipart/form-data" >
                      {% csrf_token %}
                    <div class="uk-width-1-2@m px-2">

                      <div class="m-3">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Course Title</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="text" name="project_title" placeholder="Some text...">
                            </div>
                        </div>

                        <div class="uk-margin">
                          <label class="uk-form-label" for="form-horizontal-text">Course Description</label>
                          <div class="uk-form-controls">
                           <textarea class="uk-textarea" rows="5" name="project_description" placeholder="Enter Description"></textarea>
                          </div>
                        </div>

                      </div>


                    </div>


                    <div class="uk-width-1-2@m px-2">

                      <div class="m-3">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Date & Time</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="datetime-local" name="data_time" >
                            </div>
                        </div>


                        <h4 class="uk-text-bold mb-2"> Enter the Links </h4>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Online Classes</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="text" name="project_category" value="{{obj.create_category}}" >
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Test MCQ</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" type="text" name="project_role" value="{{obj.create_role}}" >
                            </div>
                        </div>

                      </div>

                    </div>

                    <div class=" mx-auto mt-3">
                      <button class="btn btn-default px-5" name="project_submit">Save</button>
                    </div>
                  </form>

              </div>


                  <div class="uk-width-3-4@m my-5" style="width: 95%">
                      <div class="card rounded">
                        <div class=" container py-4 uk-width-expand">

                            <fieldset class="uk-fieldset">

                              <div class="text-center">

                                <div class="my-auto">
                                    <legend class="uk-legend">Online Courses</legend>
                                </div>
                              </div>

                              <hr style="width:70% mx-auto mt-0">

                              <table class="uk-table uk-table-divider uk-table-striped mt-0">

                                <thead>
                                    <tr>
                                        <th>Course Id </th>
                                        <th>Course Name</th>
                                        <th>Category</th>
{#                                        <th>Course Created</th>#}
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>


                                        <form>
                                    <tr>
                                        <td>C_ID115151</td>
                                        <td>Welcome To Css</td>
                                        <td>WebDev</td>
<!-- {#                                        <td>{{course.created}}</td>#} -->
                                        <td><a class="uk-button-success btn btn-success" href="">Start</a></td>
                                        <td><a class="uk-button-dark btn btn-dark" href="" type="button" name="Edit">Edit</a></td>


{#                                        <td><button class="uk-button-red btn btn-alert" type="button" name="Remove">Add Quiz</button></td>#}
{#                                         <td><a class="uk-button-success btn btn-success" href="">Add Quizz</a></td>#}
                                        <td><button class="uk-button-danger btn btn-alert" type="button"  uk-toggle="target: #modal-example">Delete</button></td>
                                            <!-- <i class="icon-feather-delete"></i> -->
                                            <i class="icon-line-awesome-close" style="color: white"></i></a></td>

                                    </tr>

                                    <tr>
                                        <td>C_ID115151</td>
                                        <td>Welcome To Css</td>
                                        <td>WebDev</td>
<!-- {#                                        <td>{{course.created}}</td>#} -->
                                        <td><a class="uk-button-success btn btn-success" href="">Start</a></td>
                                        <td><a class="uk-button-dark btn btn-dark" href="" type="button" name="Edit">Edit</a></td>


{#                                        <td><button class="uk-button-red btn btn-alert" type="button" name="Remove">Add Quiz</button></td>#}
{#                                         <td><a class="uk-button-success btn btn-success" href="">Add Quizz</a></td>#}
                                        <td><button class="uk-button-danger btn btn-alert" type="button"  uk-toggle="target: #modal-example">Delete</button></td>
                                            <!-- <i class="icon-feather-delete"></i> -->
                                            <i class="icon-line-awesome-close" style="color: white"></i></a></td>

                                    </tr>


                                        </form>
                                         <div id="modal-example" uk-modal>
                                            <div class="uk-modal-dialog uk-modal-body">
                                              <form name="removeentry" method="POST">
                                                {% csrf_token %}

                                                <h2 class="uk-modal-title">WARNING!!!</h2>
                                                <p>Are You sure you want to delete this course?</p>
                                                <p class="uk-text-right">
                                                  <!-- The below hidden input tag is to pass the particular role_user_id that i want to delete -->
                                                    <input type="text" name="del_id" placeholder="Enter Course ID ">
                                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                    <button class="uk-button uk-button-primary" name="courseDelete" type="Submit">Yes I am Sure</button>
                                                </p>
                                              </form>
                                            </div>
                                        </div>

                              </tbody>
                              </table>
                            </fieldset>
                          </div>
                      </div>
                  </div>
                <!-- footer
                ================================================== -->
                {% include 'partials/_footer.html' %}

            </div>

        </div>

        <!-- For Night mode -->
        <script>
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);

            </script>
    </div>

{% endblock %}
